.form {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url("../../src/images/authentication_background.jpg");
    background-size: cover;
}


.authentication-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
    background: transparent;
}

.register-form{
    width: 120%;
    padding-right: 17%;
}


.login-form-form{
    width: 120%;
    padding-right: 17%;
}


.authentication-form-container h2 {
    margin-bottom: 10%;
}


@media screen and (min-width: 415px) {
    .authentication-form-container {
        padding: 3.5rem 5rem;
        border: 1px solid white;
        border-radius: 20px;
        margin: 0.5rem;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px rgba(187, 24, 98, 0.5);
        overflow: hidden;
    }
}


.login-form label {
    padding-top: 8px;
    text-align: left;
}


.icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgba(187, 24, 98);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
}


.icon-close a {
    color: #EEEEEE;
    display: flex;

}


.login-form .input-form {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}


.login-form .authentication-button {
    width: 180px;
    height: 60px;
    position: relative;
    transform: translate(17%,4%);
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    border-radius: 8px;
    outline: none;
    transition: 1s ease-in-out;
    margin-top: 4%;
    margin-left: 5%;
}


.login-form .authentication-button svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    border-radius: 8px;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 0.7s ease-in-out;
}


.login-form .authentication-button:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}


.login-form .authentication-button:hover svg {
    stroke-dashoffset: -480;
}


.login-form .authentication-button span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}


.register-form label {
    padding-top: 8px;
    text-align: left;
}


.register-form .input-form {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}


.register-form .input-error-message {
    color: #FF0000FF;
}


.register-form .authentication-button {
    width: 180px;
    height: 60px;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    border-radius: 8px;
    outline: none;
    transition: 1s ease-in-out;
    margin-top: 4%;
    margin-left: 18%;
}


.register-form .authentication-button svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    border-radius: 8px;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 0.7s ease-in-out;
}


.register-form .authentication-button:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}


.register-form .authentication-button:hover svg {
    stroke-dashoffset: -480;
}


.register-form .authentication-button span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}


.authentication-form-container .link-button{
    margin-top: 20px;
    padding-left: 8px;
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}


.authentication-form-container .link-button-return{
    margin-top: 40px;
    margin-left: 36%;
    background: none;
    width: 80px;
    border: none;
    color: white;
    text-decoration: underline;
}