.carousel-container .provider-paragraph {
    text-align: center;
    padding-bottom: 25px;
}


.carousel-size .provider-image {
    margin: auto;
    width: 94px;
    height: 94px;
}


.carousel-size .provider-name {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}


.carousel-container .cast-image {
    margin: auto;
    width: 94px;
    height: 141px;
}


.carousel-container .cast-paragraph {
    text-align: center;
    padding-bottom: 25px;
}


.carousel-size .cast-name {
    margin: auto;
    width: 140px;
    text-align: center;
    padding-top: 10px;
    transform: translate(-15%,0);
}


.video-player {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
}


.carousel-container{
    text-align: center;
}


.carousel-container .content-not-found{
    padding-bottom: 20px;
}


.carousel-container .carousel-size{
    max-width:100px;
}


.carousel-container .copyright{
    font-size: 15px;
    font-style: italic;
    padding-bottom: 20px;
}


.carousel-container .copyright span{
    font-weight: bold;
    color: #00dfc4;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #161515;
    overflow-y: scroll;
}


.popup .popup-content {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 25px;
    color: #FFF;
}


.popup-content h2 {
    font-size: 28px;
    font-weight: 600;
}


.popup-content h2 span {
    font-weight: 300;
    font-size: 20px;
}


.popup-content .rating {
    margin-bottom: 2px;
}


.popup-content .rating .rating-star{
    width: 17px;
    height: 17px;
}


.popup-content .movie-ratings{
    width: 26px;
    height: 26px;
}


.my-rating, .add-to-favorites, .delete-from-favorites, .watchButton, .watchedButton {
    padding: 10px 10px;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #FFF;
    background: #445565;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s ease-out;
    display: inline-block;
}


.my-rating:hover, .add-to-favorites:hover, .delete-from-favorites:hover, .watchButton:hover, .watchedButton:hover {
    background: #e8cd11;
    color: #000000;
}

.add-to-favorites {
    background-color: green;
}

.delete-from-favorites {
    background-color: red;
}

.watchButton{
    background-color: rgba(255, 173, 170, 0.76);
}

.watchedButton{
    background-color: rgba(243, 83, 104, 0.76);
}

.content-plot {
    display: block;
    flex-wrap: wrap;
    margin: 0 -15px 30px;
}


.content-plot .plot-image {
    flex: 1 1 50%;
    max-width: 300px;
    box-shadow: 0 0 8px 3px #26c485;
    transition: all 0.7s ease-in-out;
}


.content-plot .plot-image:hover {
    transform: scale(1.05);
}


.content-plot .plot-paragraph {
    flex: 1 1 50%;
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 18px;
}


.popup-content .genre {
    margin-bottom: 2px;
}


.popup-content .runtime {
    margin-bottom: 30px;
}


.popup-content .close {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background: #445565;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-out;
}


.popup-content .close:hover {
    background: #26c485;
    color: #000000;
}