@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');



.back-to-hub{
    width: 2%;
    position: absolute;
}

.back-to-hub img{
    transform: translate(40%,-80%);
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.pricingTable{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    min-height: 100vh;
    line-height: 1.5;
    padding: 2.5em 0;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 280px;
    padding: 8px;
}

.containerContent {
    border: 2px solid #5d4e65;
    min-height: 400px;
    padding: 1.25em;
    position: relative;
    text-align: center;
    transition: all .2s ease-in-out;
}

.containerContent:hover {
    background-color: #67314c;
    border-top: 2px solid #ec7a37;
    border-bottom: 2px solid #ff4f69;
    box-shadow: 0 0 10px 0 #ff001e;
    transform: scale(1.025);
    z-index: 2;
}

.containerContent:before, .containerContent:after {
    content: "";
    position: absolute;
    background-color: rgb(246,125,53);
    top: -2px;
    bottom: -2px;
    width: 2px;
}

.containerContent:before {
    left: -2px;
}

.containerContent:after {
    right: -2px;
}

.containerContent:hover .button {
    background-color: rgb(238,122,54);
}

.containerContent:hover ul {
    color: rgb(238,122,54);
}

.mainText {
    text-align: center;
}

.subLength {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 0.5em;
}

.subPrice {
    font-size: 1.5em;
    letter-spacing: 0.0625em;
    margin: 0 0 0.3333333333333333em;
}

.titleBanner {
    font-size: 0.875em;
}

.titleBanner, ul {
    margin:0 0 1.5em
}

ul {
    color: #9566a9;
    font-size: 0.75em;
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0 0 0.8333333333333333em;
}

.button {
    background-color: #9c83aa;
    border-radius: 20px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    padding: 0.75em 1.5em;
    position: absolute;
    bottom: 1.25em;
    left: 50%;
    margin-left: -60px;
    text-decoration: none;
    width: 120px;
}

sup, .small {
    font-size: 0.6125em;
}

@media screen and (max-width: 493px){
    .group{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .container {
        min-width: 250px;
        padding: 8px;
    }
}