.form {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(  35deg,
    hsl(0deg 0% 0%) 0%,
    hsl(0deg 0% 0%) 8%,
    hsl(0deg 0% 0%) 17%,
    hsl(0deg 0% 0%) 25%,
    hsl(0deg 12% 8%) 33%,
    hsl(0deg 11% 17%) 42%,
    hsl(0deg 11% 25%) 50%,
    hsl(9deg 10% 37%) 58%,
    hsl(23deg 9% 50%) 67%,
    hsl(34deg 8% 62%) 75%,
    hsl(39deg 33% 71%) 83%,
    hsl(44deg 59% 81%) 92%,
    hsl(50deg 84% 90%) 100%);
}


.authentication-form-container, .login-form, .register-form {
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 600px) {
    .authentication-form-container {
        padding: 5rem;
        border: 1px solid white;
        border-radius: 10px;
        margin: 0.5rem;
    }
}


.input-error-message {
    color: #FF0000FF;
}


.label-form {
    padding-top: 8px;
    text-align: left;
}


.input-form {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}


.authentication_button {
    width: 180px;
    height: 60px;
    position: relative;
    transform: translate(17%,4%);
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    border-radius: 8px;
    outline: none;
    transition: 1s ease-in-out;
}


svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    border-radius: 8px;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 0.7s ease-in-out;
}


.authentication_button:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}


.authentication_button:hover svg {
    stroke-dashoffset: -480;
}


.authentication_button span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}


.link-button {
    transform: translate(0,+75%);
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
}


.link-button-return{
    transform: translate(+100%,+190%);
    background: none;
    width: 80px;
    border: none;
    color: white;
    text-decoration: underline;
}