@import url('http://fonts.cdnfonts.com/css/montserrat');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.visible {
    visibility: visible;
}


.hidden {
    visibility: hidden;
}


body {
    font-family: 'Montserrat',sans-serif;
    background-color: #000000;
}


.home {
    border-bottom: 1px solid #FF14BDFF;
    display: grid;
    background-color: black;
}


.home .logo-href-size-correction {
    width: 50px;
}


.home .search-button {
    display: inline-block;
    border-radius: 10px;
    background-color: #5e2a50;
    transform: translate(+500%, +28%);
    border: none;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    font-size: 18px;
    padding: 7px;
    width: 6.6%;
    transition: all 0.5s;
    cursor: pointer;
}


.home .search-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}


.home .search-button span:after {
    content: url(/src/images/search-logo.png);
    position: absolute;
    background: #EEEEEE;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}


.home .search-button:hover span {
    padding-right: 19px;
}


.home .search-button:hover span:after {
    opacity: 1;
    right: 0;
}


.home .logo {
    width: 50px;
    height: 50px;
    position: relative;
}


main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}


section {
    padding: 15px;
}


section .movie-not-found-error-message {
    color: #26c485;
    transform: translate(-40%, -120%);
    text-align: center;
    position: relative;
    left: 110px;
}


.query-results{
    margin: 0 50px;
    position: absolute;
    background-color: #53565A;
    max-width: 30%;
    flex-direction: column;
    display: flex;
    border-radius: 15px;
}


.query-results .result{
    width: 50%;
    padding: 15px;
    display: flex;
    cursor: pointer;
}


.query-results .result img {
    width: 80px;
    height: 120px;
}


.query-results .result:hover {
    box-shadow: 0 0 8px 3px #26c485;
    min-width: 420px;
    border-radius: 15px;
}


.query-results .result h3 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    min-width: 320px;
    min-height: 120px;
    background: #445565;
    position: relative;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
}


.query-results .result .ratings{
    color: #EEEEEE;
    margin-top: 75px;
    margin-left: 90px;
    position: absolute;
}


.query-results .result .release-date{
    color: #EEEEEE;
    margin-top: 95px;
    margin-left: 90px;
    position: absolute;
}


.query-results .result:hover h3 {
    background: #26c485;
    color: #000000;
    border-radius: 25px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -15px;
}


.results .result {
    width: 33.333%;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}


.results .result img {
    display: block;
    width: 100%;
    height: 800%;
}

.inputBox{
    padding-top: 12px;
    margin-left: 100px;
    position: absolute;
}


.inputBox input{
    border: 1px solid rgba(255,255,255,0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #EEEEEE;
    font-size: 1em;
    width: 190%;
    padding: 6px;
}


.inputBox span{
    position: absolute;
    left: 0;
    padding-left: 110px;
    padding-top: 9px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.5s;
}


.inputBox input:valid~span,
.inputBox input:focus~span{
    color: #00dfc4;
    transform: translateX(60px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}


.inputBox input:valid,
.inputBox input:focus{
    border: 1px solid #00dfc4;
}


.results .result:hover {
    box-shadow: 0 0 8px 3px #26c485;
}


.results .result h3 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background: #445565;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
}


.results .result:hover h3 {
    background: #26c485;
    color: #000000;
}