@import url('http://fonts.cdnfonts.com/css/montserrat');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.searchWithButton {
    display: inline-block;
    border-radius: 10px;
    background-color: #29a372;
    transform: translate(+470%, +28%);
    border: none;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    font-size: 18px;
    padding: 7px;
    width: 6.6%;
    transition: all 0.5s;
    cursor: pointer;
}


.searchWithButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}


.searchWithButton span:after {
    content: url(/src/images/searching_logo.png);
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}


.searchWithButton:hover span {
    padding-right: 19px;
}


.searchWithButton:hover span:after {
    opacity: 1;
    right: 0;
}


body{
    font-family: 'Montserrat',sans-serif;                                    
    background-color: #000000;
}


.navbar{
    border-bottom: 1px solid #26c485;
    display: grid;
    background-color: black;
}


.logo{
    color: #FFF;
    width: 50px;
    height: 50px;
    position: relative;
}


.redirectButton {
    height: 30px;
    border: none;
    text-decoration: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    padding-top: 4px;
    padding-left: 5px;
    width: 137px;
    display: inline-block;
    position: absolute;
    transform: translate(0, +40%);
    color: #fff;
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    right: 100px;
}


.redirectButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.redirectButton:hover:before {
    opacity: 1;
}


.redirectButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


main{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}


section{
    padding: 15px;
}


.error{
    color: #26c485;
    transform: translate(-40%, -120%);
    text-align: center;
    position: relative;
    left: 110px;
}


.searchbox{
    position: absolute;
    display: flex;
    width: 24%;
    padding: 6px;
    transform: translate(+25%, +27%);
    
    border: none;
    outline: none;
    background: none;

    background-color: #EEE;
    border-radius: 8px;

    color: #53565A;
    font-size: 20px;
    font-weight: 300;

    transition: 0.4s ease-out;
}


.searchbox:focus{
    box-shadow: 0px 0px 8px 3px #26c485;
}


.results{
    display: flex;
    flex-wrap: wrap;
    margin: 20px -15px;
}


.results .result{
    width: 33.333%;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}


.results .result img {
    display: block;
    width: 100%;
    height: 800%;
}


.results .result:hover {
    box-shadow: 0px 0px 8px 3px #26c485;
}


.results .result h3{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background: #445565;
    flex: 1 1 100%;
    transition: 0.4s ease-out;
}


.results .result:hover h3 {
    background: #26c485;
    color: #000000;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #161515;

    overflow-y: scroll;
}


.popup .content {
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 25px;

    color: #FFF;
}


.popup .content h2 {
    font-size: 28px;
    font-weight: 600;
}


.popup .content h2 span {
    font-weight: 300;
    font-size: 20px;
}


.popup .content .rating {
    margin-bottom: 2px;
}


.popup .content .genre {
    margin-bottom: 2px;
}


.popup .content .runtime {
    margin-bottom: 30px;
}


.popup .content .plot {
    display: block;
    flex-wrap: wrap;
    margin: 0px -15px 30px;
}


.popup .content .plot img {
    flex: 1 1 50%;
    max-width: 300px;
    box-shadow: 0px 0px 8px 3px #26c485;
}


.popup .content .plot p {
    flex: 1 1 50%;
    padding: 15px;
}


.popup .content .close {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background: #445565;
    border-radius: 8px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;

    transition: 0.4s ease-out;
}


.popup .content .close:hover {
    background: #26c485;
    color: #000000;
}